<%- include partials/header.ejs %>
<!-- Page Header -->
    <header class="intro-header" style="background-image: url('/images/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                    
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">Printing design & web development</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
 
 <!-- Main Content -->
    <article>
        <div class="container">
                <div class="row">
                    <h2 class="section-heading">Skills</h2><br><br>
                </div>
                   <div class="col-md-3">
                  <img src="/images/php.png" ><br><br>
                  <img src="/images/star.png"> <img src="/images/star.png"> <img src="/images/star.png"> <img id="ariaStar" src="/images/star.png" aria-hidden="true"> 
                  </div>
                  <div class="col-md-3">
                  <img src="/images/html-5.png" ><br><br>
                 <img src="/images/star.png"> <img src="/images/star.png"> <img src="/images/star.png"> <img src="/images/star.png"> <img src="/images/star.png"> 
                  </div>
                  <div class="col-md-3">
                  <img src="/images/css.png" ><br><br>
                <img src="/images/star.png"> <img src="/images/star.png"> <img src="/images/star.png"> <img src="/images/star.png"> <img src="/images/star.png"> 
                  </div>
                   <div class="col-md-3">
                  <img src="/images/js.png" ><br><br>
                <img src="/images/star.png"> <img src="/images/star.png"> <img src="/images/star.png"> <img src="/images/star.png"> 
                 </div>
                 
                 <div class="col-md-10">
                </div>
            </div>
    </article>
 
<%- include partials/footer.ejs %>