<%- include partials/header.ejs %>

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('/images/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                    
                        <h1><img src="/images/mei.jpg" width="15%">&nbsp&nbsp Mei He</h1>
                        <hr class="small">
                        <span class="subheading">Printing design & web development</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Main Content -->
    <article>
        <div class="container" role="main">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h2 class="section-heading" aria-busy="true" aria-live="polite">Introduction</h2>
                    <p>Hello, my name is Mei He. I am come form china, now i am in second year of interactive web design in Georgian college. I like my program and i willing to learn more. </p>
                    <blockquote>Before i came to Canada, i did my university degree of printing engineering, and i had worked in printing area for six month .</blockquote>
                    </div>
                 </div>
               </div>
          </article>  

 <%- include partials/footer.ejs %>