<%- include partials/header.ejs %>
<!-- Page Header -->
    <header class="intro-header" style="background-image: url('/images/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                    
                        <h1>My Prjects</h1>
                        <hr class="small">
                        <span class="subheading">Check out my projects.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
  
  <!-- Main Content -->
    <article>
        <div id="links" class="container">
                <div class="row">
                   <div class="col-md-4">
                  <img src="/images/web.png" alt="printing" width="100%" ><br><br>
                  <a alt="php" href="http://gc200293726.computerstudi.es/interface/Assignment2/index.html">PHP</a>
                  </div>
                  <div class="col-md-4">
                  <img src="/images/recipe.png" alt="printing" width="100%" ><br><br>
                  <a alt="web" href="http://gc200293726.computerstudi.es/interface/DRBmOoChfM/index.html" />allrecipe Website</a>
                  </div>
                  <div class="col-md-4">
                  <img src="/images/todo.png" alt="printing" width="100%" ><br><br>
                  <a alt="todo" href="http://gc200293726.computerstudi.es/finalProject/project/" />Todo list</a>
                  </div>
                </div>
            </div>
    </article>
<%- include partials/footer.ejs %>