<%- include partials/header.ejs %>
<!-- Page Header -->
    <header class="intro-header" style="background-image: url('/images/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                    
                        <h1>Services</h1>
                        <hr class="small">
                        <span class="subheading">Printing design & web development</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
 <!-- Main Content -->
    <article>
        <div class="container" role="article">
                  <div class="row">
                  <div class="col-md-3 col-md-offset-2">
                  <img src="/images/printing.png" alt="printing" width="180%">
                  </div>
                  
                  <div class="col-md-3 col-md-offset-2">
                  <h2>2010-2014</h2>
                  <p>I was studied in nanjing forestry university of printing engineering for 4 years. I had experience in printing processing, printing surface design and dealing with printing problems.
</p>
                  </div>
                 </div>
                 
                 <div class="row"><p>&nbsp</p></div>
                 <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                    <h2>2014-Now</h2>
                    <p>I m currently a student in interactive web design program in Georgian college. Study hard with coding and web application. </p>
                    </div>
                    <div class="col-md-3 ">
                    <img src="/images/web.jpg" alt="printing" >
                    </div>
                 </div>
       </div>
       </article>
    <%- include partials/footer.ejs %>   